* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eceef1;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-right: 2%;
  margin-top: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #0077c5;
  text-decoration: none;
}

#signIn {
  color: white;
  background-color: #0077c5;
  border-radius: 4px;
  display: flex;
  text-align: center;
  padding: 8px 18px 8px 18px;
  margin-left: 15px;
}

#signIn > img {
  height: 12px;
  width: 12px;
}
